  html {
    font-size: 62.5%;
  }

  @font-face {
    font-family: Raleway;
    src: url(fonts/raleway/Raleway-Regular.ttf);
  }

  body, input, textarea {
    font: 1.4em 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 2.3em;
    color: #474646;
  }


  ul, li{
    padding:0;
    margin:0;
    list-style: none;
  }

  .list-group{
    margin-bottom: 20px;
  }

  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #fff;
    z-index: 2;
  }


  .usuario-detalhes{
    border-left: solid 3px #ddd;
    padding: 5px 10px;
    font-size: 1.3em;
  }

  footer nav{
    padding-top: 10px;
  }


